<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"-->
<!--    package="com.example.eegmoodapp">-->

<!--    <application-->
<!--        android:allowBackup="true"-->
<!--        android:label="EEG Mood App"-->
<!--        android:theme="@style/Theme.AppCompat.Light.NoActionBar">-->
<!--        <activity android:name=".MainActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--    </application>-->

<!--</manifest>-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eegmoodapp">

    <!-- Permissions for accessing external storage -->
    <!-- Needed for Android 12 and below -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="36" />

    <!-- Needed for Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_DOCUMENTS" />

    <application
        android:allowBackup="true"
        android:label="EEG Mood App"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
